# Instalación de librerías

- SQLAlchemy: Permite conexiones a diferentes motores de bases de datos relacionales.
- PsyCopG2: Adaptador de consultas SQL para PostgrSQL

In [89]:
%pip install sqlalchemy
%pip install psycopg2

Requirement already satisfied: sqlalchemy in c:\users\janus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\janus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\janus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: C:\Users\Janus\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\janus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: C:\Users\Janus\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

# Importar las librerías necesarias

- Pandas
- SQLAlchemy: create_engice
- Psycopg2
- Warnings: ignorar las advertencias en el código

In [90]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import warnings
warnings.filterwarnings('ignore')

# **Extracción**

- Establecer una conexión a la base de datos de PostgreSQL
- Obtener los datos del archivo separado por comas
- Obtener los datos del archivo semiestructurado json

In [91]:
#1. Extracción de datos de la tabla en PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:valento99@localhost:5432/northwind')
#Argumento de create_engine: 'motor_de_bd+adaptador://nombre_usuario:contraseña_bd@direccion_ip_bd:puerto_bad/nombre_bd'
connection = engine.connect()

In [92]:
# Extracción de tablas necesarias
df_orders = pd.read_sql('select * from orders', engine)
df_order_details = pd.read_sql('select * from order_details', engine)
df_categories = pd.read_sql('select * from categories', engine)
df_customers = pd.read_sql('select * from customers', engine)
df_products = pd.read_sql('select * from products', engine)
df_suppliers = pd.read_sql('select * from suppliers', engine)

In [93]:
#Conociendo la informacion
print(df_orders.columns)
print(df_order_details.columns)
print(df_categories.columns)
print(df_customers.columns)
print(df_products.columns)
print(df_suppliers.columns)

Index(['order_id', 'customer_id', 'employee_id', 'order_date', 'required_date',
       'shipped_date', 'ship_via', 'freight', 'ship_name', 'ship_address',
       'ship_city', 'ship_region', 'ship_postal_code', 'ship_country'],
      dtype='object')
Index(['order_id', 'product_id', 'unit_price', 'quantity', 'discount'], dtype='object')
Index(['category_id', 'category_name', 'description', 'picture'], dtype='object')
Index(['customer_id', 'company_name', 'contact_name', 'contact_title',
       'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax'],
      dtype='object')
Index(['product_id', 'product_name', 'supplier_id', 'category_id',
       'quantity_per_unit', 'unit_price', 'units_in_stock', 'units_on_order',
       'reorder_level', 'discontinued'],
      dtype='object')
Index(['supplier_id', 'company_name', 'contact_name', 'contact_title',
       'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax',
       'homepage'],
      dtype='object')

# **Transformación**

In [94]:
# Merge base: detalles de orden + costo de envío
tabla_hechos = pd.merge(df_order_details, df_orders[['order_id', 'freight']], on='order_id')

# Calcular el monto total por línea
tabla_hechos['amount'] = tabla_hechos['quantity'] * tabla_hechos['unit_price']

# Agregar info del producto (categoría y proveedor)
tabla_hechos = pd.merge(
    tabla_hechos,
    df_products[['product_id', 'category_id', 'supplier_id']],
    on='product_id'
)

# Agregar info del cliente
tabla_hechos = pd.merge(
    tabla_hechos,
    df_orders[['order_id', 'customer_id']],
    on='order_id'
)

# Agregar info de la fecha
tabla_hechos = pd.merge(
    tabla_hechos,
    df_orders[['order_id', 'order_date']],
    on='order_id'
)

tabla_hechos['date_id'] = pd.to_datetime(tabla_hechos['order_date']).dt.strftime('%Y%m%d').astype(int)

# Selección y renombrado final
tabla_hechos = tabla_hechos[[
    'order_id', 
    'product_id',
    'date_id',
    'customer_id',
    'category_id',
    'supplier_id',
    'freight', 
    'unit_price', 
    'quantity', 
    'discount', 
    'amount'
]]

tabla_hechos

,order_id,product_id,date_id,customer_id,category_id,supplier_id,freight,unit_price,quantity,discount,amount
0,10248,11,19960704,VINET,4,5,32.38,14.00,12,0.00,168.0
1,10248,42,19960704,VINET,5,20,32.38,9.80,10,0.00,98.0
2,10248,72,19960704,VINET,4,14,32.38,34.80,5,0.00,174.0
3,10249,14,19960705,TOMSP,7,6,11.61,18.60,9,0.00,167.4
4,10249,51,19960705,TOMSP,7,24,11.61,42.40,40,0.00,1696.0
...,...,...,...,...,...,...,...,...,...,...,...
2150,11077,64,19980506,RATTC,5,12,8.53,33.25,2,0.03,66.5
2151,11077,66,19980506,RATTC,2,2,8.53,17.00,1,0.00,17.0
2152,11077,73,19980506,RATTC,8,17,8.53,15.00,2,0.01,30.0
2153,11077,75,19980506,RATTC,1,12,8.53,7.75,4,0.00,31.0
2154,11077,77,19980506,RATTC,2,12,8.53,13.00,2,0.00,26.0

In [95]:
dim_categorias=df_categories[['category_id','category_name','description']].copy()
dim_categorias

,category_id,category_name,description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [96]:
dim_categorias.isnull().sum()

category_id      0
category_name    0
description      0
dtype: int64

In [97]:
dim_clientes=df_customers[['customer_id', 'company_name', 'contact_name', 'city', 'region']].copy()
dim_clientes

,customer_id,company_name,contact_name,city,region
0,ALFKI,Alfreds Futterkiste,Maria Anders,Berlin,None
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,México D.F.,None
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,México D.F.,None
3,AROUT,Around the Horn,Thomas Hardy,London,None
4,BERGS,Berglunds snabbköp,Christina Berglund,Luleå,None
...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Oulu,None
87,WELLI,Wellington Importadora,Paula Parente,Resende,SP
88,WHITC,White Clover Markets,Karl Jablonski,Seattle,WA
89,WILMK,Wilman Kala,Matti Karttunen,Helsinki,None
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Warszawa,None

In [98]:
dim_clientes.isnull().sum()

customer_id      0
company_name     0
contact_name     0
city             0
region          60
dtype: int64

In [99]:
dim_clientes.fillna({'region':'No registra'},inplace=True)
dim_clientes.isnull().sum()

customer_id     0
company_name    0
contact_name    0
city            0
region          0
dtype: int64

In [100]:
dim_clientes

,customer_id,company_name,contact_name,city,region
0,ALFKI,Alfreds Futterkiste,Maria Anders,Berlin,No registra
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,México D.F.,No registra
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,México D.F.,No registra
3,AROUT,Around the Horn,Thomas Hardy,London,No registra
4,BERGS,Berglunds snabbköp,Christina Berglund,Luleå,No registra
...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Oulu,No registra
87,WELLI,Wellington Importadora,Paula Parente,Resende,SP
88,WHITC,White Clover Markets,Karl Jablonski,Seattle,WA
89,WILMK,Wilman Kala,Matti Karttunen,Helsinki,No registra
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Warszawa,No registra

In [101]:
dim_productos=df_products[['product_id', 'product_name', 'unit_price', 'discontinued']].copy()
dim_productos

    product_id                     product_name  unit_price  discontinued
0            1                             Chai       18.00             1
1            2                            Chang       19.00             1
2            3                    Aniseed Syrup       10.00             0
3            4     Chef Anton's Cajun Seasoning       22.00             0
4            5           Chef Anton's Gumbo Mix       21.35             1
..         ...                              ...         ...           ...
72          73                       Röd Kaviar       15.00             0
73          74                    Longlife Tofu       10.00             0
74          75             Rhönbräu Klosterbier        7.75             0
75          76                     Lakkalikööri       18.00             0
76          77  Original Frankfurter grüne Soße       13.00             0

[77 rows x 4 columns]

In [102]:
dim_productos.isnull().sum()

product_id      0
product_name    0
unit_price      0
discontinued    0
dtype: int64

In [103]:
dim_proveedor=df_suppliers[['supplier_id','company_name','contact_name','city','region']].copy()
dim_proveedor

,supplier_id,company_name,contact_name,city,region
0,1,Exotic Liquids,Charlotte Cooper,London,None
1,2,New Orleans Cajun Delights,Shelley Burke,New Orleans,LA
2,3,Grandma Kelly's Homestead,Regina Murphy,Ann Arbor,MI
3,4,Tokyo Traders,Yoshi Nagase,Tokyo,None
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Oviedo,Asturias
5,6,Mayumi's,Mayumi Ohno,Osaka,None
6,7,"Pavlova, Ltd.",Ian Devling,Melbourne,Victoria
7,8,"Specialty Biscuits, Ltd.",Peter Wilson,Manchester,None
8,9,PB Knäckebröd AB,Lars Peterson,Göteborg,None
9,10,Refrescos Americanas LTDA,Carlos Diaz,Sao Paulo,None
10,11,Heli Süßwaren GmbH & Co. KG,Petra Winkler,Berlin,None
11,12,Plutzer Lebensmittelgroßmärkte AG,Martin Bein,Frankfurt,None
12,13,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Cuxhaven,None
13,14,Formaggi Fortini s.r.l.,Elio Rossi,Ravenna,None
14,15,Norske Meierier,Beate Vileid,Sandvika,None
15,16,Bigfoot Breweries,Cheryl Saylor,Bend,OR
16,17,Svensk Sjöföda AB,Michael Björn,Stockholm,None
17,18,Aux joyeux ecclésiastiques,Guylène Nodier,Paris,None
18,19,New England Seafood Cannery,Robb Merchant,Boston,MA
19,20,Leka Trading,Chandra Leka,Singapore,None
20,21,Lyngbysild,Niels Petersen,Lyngby,None
21,22,Zaanse Snoepfabriek,Dirk Luchte,Zaandam,None
22,23,Karkki Oy,Anne Heikkonen,Lappeenranta,None
23,24,"G'day, Mate",Wendy Mackenzie,Sydney,NSW
24,25,Ma Maison,Jean-Guy Lauzon,Montréal,Québec
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Salerno,None
26,27,Escargots Nouveaux,Marie Delamare,Montceau,None
27,28,Gai pâturage,Eliane Noz,Annecy,None
28,29,Forêts d'érables,Chantal Goulet,Ste-Hyacinthe,Québec

In [104]:
dim_proveedor.isnull().sum()

supplier_id      0
company_name     0
contact_name     0
city             0
region          20
dtype: int64

In [105]:
dim_proveedor.fillna({'region':'No registra'},inplace=True)
dim_proveedor.isnull().sum()

supplier_id     0
company_name    0
contact_name    0
city            0
region          0
dtype: int64

In [106]:
dim_proveedor

,supplier_id,company_name,contact_name,city,region
0,1,Exotic Liquids,Charlotte Cooper,London,No registra
1,2,New Orleans Cajun Delights,Shelley Burke,New Orleans,LA
2,3,Grandma Kelly's Homestead,Regina Murphy,Ann Arbor,MI
3,4,Tokyo Traders,Yoshi Nagase,Tokyo,No registra
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Oviedo,Asturias
5,6,Mayumi's,Mayumi Ohno,Osaka,No registra
6,7,"Pavlova, Ltd.",Ian Devling,Melbourne,Victoria
7,8,"Specialty Biscuits, Ltd.",Peter Wilson,Manchester,No registra
8,9,PB Knäckebröd AB,Lars Peterson,Göteborg,No registra
9,10,Refrescos Americanas LTDA,Carlos Diaz,Sao Paulo,No registra
10,11,Heli Süßwaren GmbH & Co. KG,Petra Winkler,Berlin,No registra
11,12,Plutzer Lebensmittelgroßmärkte AG,Martin Bein,Frankfurt,No registra
12,13,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Cuxhaven,No registra
13,14,Formaggi Fortini s.r.l.,Elio Rossi,Ravenna,No registra
14,15,Norske Meierier,Beate Vileid,Sandvika,No registra
15,16,Bigfoot Breweries,Cheryl Saylor,Bend,OR
16,17,Svensk Sjöföda AB,Michael Björn,Stockholm,No registra
17,18,Aux joyeux ecclésiastiques,Guylène Nodier,Paris,No registra
18,19,New England Seafood Cannery,Robb Merchant,Boston,MA
19,20,Leka Trading,Chandra Leka,Singapore,No registra
20,21,Lyngbysild,Niels Petersen,Lyngby,No registra
21,22,Zaanse Snoepfabriek,Dirk Luchte,Zaandam,No registra
22,23,Karkki Oy,Anne Heikkonen,Lappeenranta,No registra
23,24,"G'day, Mate",Wendy Mackenzie,Sydney,NSW
24,25,Ma Maison,Jean-Guy Lauzon,Montréal,Québec
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Salerno,No registra
26,27,Escargots Nouveaux,Marie Delamare,Montceau,No registra
27,28,Gai pâturage,Eliane Noz,Annecy,No registra
28,29,Forêts d'érables,Chantal Goulet,Ste-Hyacinthe,Québec

In [107]:
dim_tiempo = pd.DataFrame({
    'date_id': pd.to_datetime(df_orders['order_date'], format='%Y/%m/%d')
}).drop_duplicates('date_id').reset_index(drop=True)

dim_tiempo['month'] = [i.month for i in dim_tiempo['date_id']]
dim_tiempo['day'] = [i.day for i in dim_tiempo['date_id']]
dim_tiempo['year'] = [i.year for i in dim_tiempo['date_id']]
dim_tiempo['month_name'] = [i.strftime('%B') for i in dim_tiempo['date_id']]
dim_tiempo['day_name'] = [i.strftime('%A') for i in dim_tiempo['date_id']]
dim_tiempo['quarter'] = [i.quarter for i in dim_tiempo['date_id']]

dim_tiempo

       date_id  month  day  year month_name   day_name  quarter
0   1996-07-04      7    4  1996       July   Thursday        3
1   1996-07-05      7    5  1996       July     Friday        3
2   1996-07-08      7    8  1996       July     Monday        3
3   1996-07-09      7    9  1996       July    Tuesday        3
4   1996-07-10      7   10  1996       July  Wednesday        3
..         ...    ...  ...   ...        ...        ...      ...
475 1998-04-30      4   30  1998      April   Thursday        2
476 1998-05-01      5    1  1998        May     Friday        2
477 1998-05-04      5    4  1998        May     Monday        2
478 1998-05-05      5    5  1998        May    Tuesday        2
479 1998-05-06      5    6  1998        May  Wednesday        2

[480 rows x 7 columns]

In [108]:
dim_tiempo.isnull().sum()

date_id       0
month         0
day           0
year          0
month_name    0
day_name      0
quarter       0
dtype: int64

# **Carga**

- *Método 1*: Usando archivos planos
- *Método 2*: Usando el método to_sql de pandas

In [109]:
#Método 1
#1. Crear los archivos planos
tabla_hechos.to_csv('tabla_hechos.csv', sep = '|', index = False)
dim_categorias.to_csv('dim_categorias.csv', sep = '|', index = False)
dim_clientes.to_csv('dim_clientes.csv', sep = '|', index = False)
dim_productos.to_csv('dim_productos.csv', sep = '|', index = False)
dim_proveedor.to_csv('dim_proveedor.csv', sep = '|', index = False)
dim_tiempo.to_csv('dim_tiempo.csv', sep = '|', index = False)

In [112]:
#2. Crear la conexión a la base de datos
connection = psycopg2.connect(host = 'localhost',
                              database = 'northwind_olap',
                              user = 'postgres',
                              password = 'valento99',
                              port = '5432')
cursor = connection.cursor()

In [113]:
# Tablas dimensionales
cursor.execute("""create table if not exists dim_categorias (category_id int primary key, category_name text, description text)""")

cursor.execute("""create table if not exists dim_clientes (customer_id text primary key, company_name text, contact_name text, city text, region text)""")

cursor.execute("""create table if not exists dim_productos (product_id int primary key, product_name text, unit_price double precision, discontinued boolean)""")

cursor.execute("""create table if not exists dim_proveedor (supplier_id int primary key, company_name text, contact_name text, city text, region text)""")

cursor.execute("""create table if not exists dim_tiempo (date_id date primary key, day int, month int, year int, month_name text, day_name text, quarter int)""")

# Tabla de hechos
cursor.execute("""create table if not exists tabla_hechos (order_id int, product_id int, date_id date, customer_id text ,category_id int ,supplier_id int, freight double precision, unit_price double precision, quantity int, discount double precision, amount double precision, primary key (order_id, product_id))""")

# Relaciones y constraints
cursor.execute("""alter table only tabla_hechos add constraint fk_producto foreign key (product_id) references dim_productos""")

cursor.execute("""alter table only tabla_hechos add constraint fk_tiempo foreign key (date_id) references dim_tiempo """)

cursor.execute("""alter table only tabla_hechos add constraint fk_cliente foreign key (customer_id) references dim_clientes """)

cursor.execute("""alter table only tabla_hechos add constraint fk_categoria foreign key (category_id) references dim_categorias """)

cursor.execute("""alter table only tabla_hechos add constraint fk_proveedor foreign key (supplier_id) references dim_proveedor """)

In [114]:
connection.commit()

In [115]:
#4. Poblar las tablas en la base de datos
with open('dim_categorias.csv','r') as f:
    next(f)
    cursor.copy_from(f, 'dim_categorias', sep = '|')

with open('dim_clientes.csv','r') as f:
    next(f)
    cursor.copy_from(f, 'dim_clientes', sep = '|')

with open('dim_productos.csv','r') as f:
    next(f)
    cursor.copy_from(f, 'dim_productos', sep = '|')

with open('dim_proveedor.csv','r') as f:
    next(f)
    cursor.copy_from(f, 'dim_proveedor', sep = '|')

with open('dim_tiempo.csv','r') as f:
    next(f)
    cursor.copy_from(f, 'dim_tiempo', sep = '|')

with open('tabla_hechos.csv','r') as f:
    next(f)
    cursor.copy_from(f, 'tabla_hechos', sep = '|')

connection.commit()